body {
  background-color: #baa48e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: system-ui;
  position: absolute;
}

h1 {
  padding-top: 40px;
}
img {
  max-width: 100%;
  min-width: 300px;
  max-height: 500px;
}

#texasInfo {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.citySection {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  max-width: 90%;
}
aside {
  position: relative;
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

aside > p {
  margin: 0.5rem;
}

table,
th,
td {
  border: 1px solid;
}
/* Styling for nav bar */
.topnav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b13a5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover:not(.active) {
  background-color: #e20909;
}
.active {
  background-color: #1d71ca9c;
}
